In [1]:
import pandas as pd
df= pd.read_csv(r"C:\Users\utfu\Documents\aadhar-vista\EDA\districts_with_counts.csv")

df.head()

,Unnamed: 0,DIST,geometry,state_x,office_count,state_y,Population,Center_Busyness,normalised
0,0,nicobar,MULTIPOLYGON (((93.7040765017622 7.20939939396...,andaman nicobar islands,3.0,andaman nicobar islands,238142.0,0.000013,0.013836
1,1,south andaman,MULTIPOLYGON (((92.59020681022683 10.762661091...,andaman nicobar islands,11.0,andaman nicobar islands,238142.0,0.000046,0.063036
2,2,north and middle andaman,MULTIPOLYGON (((92.76555348819821 12.285487321...,andaman nicobar islands,9.0,andaman nicobar islands,238142.0,0.000038,0.050736
3,3,guntur,POLYGON ((80.81934092014558 15.742652802037831...,andhra pradesh,483.0,andhra pradesh,4887813.0,0.000099,0.140111
4,4,chittoor,POLYGON ((79.44445912870168 13.888928250290366...,andhra pradesh,412.0,andhra pradesh,4174064.0,0.000099,0.139947

In [3]:
df['DIST'] = df['DIST'].str.lower() +', '+ df['state_x']

In [4]:
df.drop(['state_y'],axis=1, inplace=True)

In [10]:
def regionapply(state):
    northern_states = ['Jammu   Kashmir', 'Himachal Pradesh', 'Uttarakhand', 'Punjab', 'Haryana', 'Delhi', 'Uttar Pradesh', 'Chandigarh']
    northern_states = [state.lower() for state in northern_states]

    western_states = ['Rajasthan', 'Gujarat', 'Maharashtra', 'Goa']
    western_states = [state.lower() for state in western_states]

    eastern_states = ['Bihar', 'Jharkhand', 'West Bengal', 'Odisha', 'Sikkim']
    eastern_states = [state.lower() for state in eastern_states]

    southern_states = ['Andhra Pradesh', 'Telangana', 'Karnataka', 'Kerala', 'Tamil Nadu', 'Puducherry']
    southern_states = [state.lower() for state in southern_states]

    central_states = ['Madhya Pradesh', 'Chhattisgarh']
    central_states = [state.lower() for state in central_states]

    northeastern_states = ['Assam', 'Arunachal Pradesh', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Tripura']
    northeastern_states = [state.lower() for state in northeastern_states]

    union_territories = ['andaman   nicobar islands', 'Chandigarh', 'daman   diu', 'Lakshadweep', 'Puducherry']
    union_territories = [state.lower() for state in union_territories]
    if state.lower() in northern_states:
        return 'Northern'
    elif state.lower() in western_states:
        return 'Western'
    elif state.lower() in eastern_states:
        return 'Eastern'
    elif state.lower() in southern_states:
        return 'Southern'
    elif state.lower() in central_states:
        return 'Central'
    elif state.lower() in northeastern_states:
        return 'Northeastern'
    elif state.lower() in union_territories:
        return 'Union Territories'
    else:
        return 'Unknown'

In [11]:
df['Region'] = df['state_x'].apply(regionapply)

# Display the dataframe with the 'Region' column
df.head()

,Unnamed: 0,DIST,geometry,state_x,office_count,Population,Center_Busyness,normalised,Region
0,0,"nicobar, andaman nicobar islands",MULTIPOLYGON (((93.7040765017622 7.20939939396...,andaman nicobar islands,3.0,238142.0,0.000013,0.013836,Union Territories
1,1,"south andaman, andaman nicobar islands",MULTIPOLYGON (((92.59020681022683 10.762661091...,andaman nicobar islands,11.0,238142.0,0.000046,0.063036,Union Territories
2,2,"north and middle andaman, andaman nicobar is...",MULTIPOLYGON (((92.76555348819821 12.285487321...,andaman nicobar islands,9.0,238142.0,0.000038,0.050736,Union Territories
3,3,"guntur, andhra pradesh",POLYGON ((80.81934092014558 15.742652802037831...,andhra pradesh,483.0,4887813.0,0.000099,0.140111,Southern
4,4,"chittoor, andhra pradesh",POLYGON ((79.44445912870168 13.888928250290366...,andhra pradesh,412.0,4174064.0,0.000099,0.139947,Southern

In [4]:
df.to_csv("districtperstateregioninfo.csv",index=False)